.modal {
  display: block;
  position: fixed;
  z-index: 1000;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo más oscuro */
  transition: background-color 0.3s ease; /* Transición suave en el fondo */
}

.modal-content {
  background-color: #181818; /* Fondo oscuro para el contenido */
  margin: 10% auto;
  padding: 30px;
  border-radius: 10px; /* Bordes redondeados */
  width: 50%;
  max-width: 600px; /* Limita el tamaño máximo */
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.6); /* Sombra suave */
  color: #fff; /* Texto blanco */
  font-family: 'Arial', sans-serif;
}

.close {
  color: #f1f1f1;
  float: right;
  font-size: 36px;
  font-weight: bold;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close:hover,
.close:focus {
  color: #e50914; /* Color de hover similar al logo de plataformas como Netflix */
}

.modal-content h2 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 15px;
}

.modal-content p {
  font-size: 16px;
  line-height: 1.5;
  color: #ccc; /* Color de texto más suave */
}
